<meta charset="UTF-8">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<title>exii</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

<!-- CSS -->

<link rel="stylesheet" href="https://unpkg.com/style.css">
<link rel="stylesheet" href="{{ /assets/css/styles.css | relative_url }}">
