---
title: Publications
permalink: /publications
view: list
---
{% for paper in site.data.publications %}
    <div class="item">
        <img src="https://trackr-media.tangiblemedia.org/publishedmedia/Projects/417/badge?width=140"/>
        <div class="content">
            {% assign year = paper.issued.date-parts | first %}
            <h5>{{ paper.title }}</h5>
            {{ paper.author.first.given }} {{ paper.author.first.family }}{% for author in paper.author offset:1 %}, {{ author.given }} {{ author.family }}{% endfor %} ({{ year.first }})<br/>
            <i>{{ paper.container-title }}</i><br/>
            DOI: <a target="_blank" href="{{ paper.URL }}">{{ paper.id }}</a>
        </div>
    </div>
    <hr/>
{% endfor %}
